# Сборочные артефакты Cargo
**/target/

# Файлы зависимостей при сборке
**/*.rs.bk

# Артефакты тестов/бенчмарков
Cargo.lock

# IDE и редакторы
.vscode/
.idea/
*.iml

# Rust analyzer
*.swp
*.swo

# MacOS / Linux / Windows мусор
.DS_Store
Thumbs.db
